/* --------------------------------------------------------
Style Sheet for Cozumel Taxonomy
----------------------------------------------------------*/

@tailwind base;
@tailwind components;
@tailwind utilities;

.nextimg {
  font-size: 0;
  letter-spacing: 0;
  word-spacing: 0;
  position: relative;
}

.link {
  @apply border-b border-dotted border-cta outline-none;
}

.link:hover {
  @apply border-transparent text-cta transition-all;
}

.link:disabled {
  @apply cursor-not-allowed;
}


/* ==========================================================================
	Search 
	========================================================================== */

input[type='search']:not(:disabled) {
  @apply h-[40px] min-w-[150px] pl-2 text-sm ml-2 border-2 border-gray-100 rounded-sm focus:outline-none focus:ring-0 focus:border-cta dark:focus:border-cta dark:border-gray-700 bg-brand dark:bg-brand-dark text-black dark:text-white;
}

input[type='search']::-webkit-search-cancel-button{
  display: none;    
}

.arrow-nav {
  @apply w-8 h-8 hover:text-cta hover:bg-grey hover:dark:bg-grey-dark rounded;
}

/* ==========================================================================
	Filters 
	========================================================================== */

input[type='radio']:after {
  @apply w-4 h-4 content-[''] cursor-pointer inline-block relative -top-[2px] -left-[2px]
  bg-grey dark:bg-grey-dark border-2 border-white rounded-full;
}

input[type='radio']:checked:after {
  @apply bg-cta;
}

input[type="checkbox"] {
  @apply grid justify-center items-center appearance-none w-4 h-4 bg-white dark:bg-brand m-0 text-brand-dark dark:text-brand rounded-sm cursor-pointer;
}

input[type="checkbox"]::before {
  @apply cursor-pointer;
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--color-cta);
}

input[type="checkbox"]:checked::before {
  @apply cursor-pointer;
  transform: scale(1);
}
